{% extends 'base.html.twig' %}

{% block title %}Modifier mon MDP A CEDECOM
{% endblock %}

{% block content %}
	<h1>Modifier mon MDP</h1>

	<hr>
	-
	<a href="{{path('account')}}">Retour a mon compte</a>
	<br>
	{% if notification %}
		<div class="alert alert-info">{{notification}}</div>
	{% endif %}
	{{form(form)}}
	</hr>
{% endblock %}
